.feed{
    flex: .4;
    border: .1em solid var(--twitter-background);
    /* min-width: fit-content; */
    position: relative;
    overflow-y: scroll;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}
.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
    border-bottom: .1em solid var(--twitter-background);
    background-color: white;
    z-index: 100;
}

.feed__header > h2{
    font-weight: 800;
}

.feed__icon{
    color: var(--twitter-color);
    cursor: pointer;
}