.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    color: var(--twitter-color);
    border-radius: 2em;
    transition: all 100ms ease-out;
}

.sidebarOption--active{
    color: var(--twitter-color);
}

.sidebarOption > .MuiSvgIcon-root {
  margin: .6em .8em;
}

.sidebarOption > h2 {
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 1.3em;
}
