.widgets {
  flex: 0.3;
  overflow-y: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;
}

.widgets::-webkit-scrollbar {
  display: none;
}

.widgets__input {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--twitter-background);
  padding: .8em;
  border-radius: 1em;
  margin: .8em 0 0 1em;
}

.widgets__input > input{
    flex: 1;
    border: none;
    background-color: var(--twitter-background);
    outline: none;
    font-size: 1em;
}

.widgets__searchIcon{
    color: gray;
}

.widgets__widgetContainer{
    margin: 1em 0 0 1em;
    background-color: #f5f8fa;
    border-radius: 1.3em;
    padding: 1.3em;
}

.twitter__btn{
    display: flex;
    margin-top: .5em;
}

.twitter__btn > div {
    display: flex;
    margin: 0 auto;
}